.image {
    max-width: 30px;
    max-height: 30px;
    display: flex;
    /* flex-direction: ; */
    margin: 5px 5px;
}
.icon {
    display: flex;
    /* flex-direction: column; */

}
.preview {
    max-width: 500px;
    max-height: 500px;
}